@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
</div>
<br />
<div class="card w-40">
    <div class="card-body">
        <h5 class="card-title">Desafio técnico</h5>
        <p class="card-text">José Luiz dos Santos</p>
        <b>Email: </b><p>joseluizds@hotmail.com</p>
        <b>Celular: </b><p>16 9 9307 9000</p>
    </div>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
