@{
    ViewData["Title"] = "Envio de Arquivos";
}

<br />

@using (Html.BeginForm("Create", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        <div class="col-sm-6">
            <h5>Selecione o arquivo desejado e clique no botão enviar.</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="file" name="fileInfo" accept=".csv" required />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-2">
            <a class="btn btn-outline-secondary" asp-action="Index">Voltar para lista</a>
        </div>
        <div class="col-sm-2">
            <input class="btn btn-primary btn-block" type="submit" name="btnSubmitFile" value="Enviar" />
        </div>
    </div>
}
